//start sass: sass --watch scss:css

/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$grid-gutter-width: 10px;
$container-large-desktop: ( 965px + $grid-gutter-width );
$font-face: 'Krona One', sans-serif;
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$font-color: rgba( $white, .6 );

@mixin font-styles () {
  font-family: $font-face;
  font-weight: bold;
  color: $font-color;
  text-shadow: 1px 1px 1px rgba( $black, .95);
  transition: .25s ease-in-out;
}
@mixin box-shadows () {
  //box-shadow: 0 4px 0 rgba(255, 255, 255, .5);
}
/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/*------------------------------------------------------------------------------
                              Generic / Reusable Styling
------------------------------------------------------------------------------*/

img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
html {
}
body{
  @include font-styles;
  background: url(../images/road-bg.jpg) center top no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}
.bg-grid {
  background-color: rgba( 0, 0, 0, .5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.container{
  text-align: center;
}

.row {
  padding: 1rem 0;
  border-bottom: 3px dashed $font-color;

  &:hover, &:active {

    & h1, & span{
      color: opacify($font-color, .85);
    }
  }
}
.holder, .bike-holder, #map {
    @include box-shadows;
}


.holder {
  position: relative;
  padding: 0 .5rem;

  span {
    font-size: 1rem;
    line-height: 1.45rem;
    vertical-align: middle;
  }
}

/*------------------------------------------------------------------------------
                              Header Row Styling
------------------------------------------------------------------------------*/
.header {
  position: relative;

  h1 {
    width: 90%;
    left: 5%;
    top: -1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: absolute;
    @media ( min-width: $screen-sm-min) {
        font-size: 3.5rem;
      }
  }

  .holder{
    text-align: center;
    padding: 0;
  }
  .holder-title {
    margin-top: 2rem;
  }
  img {
    @include box-shadows;
    display: block;
  }

}

.logo {
}

/*------------------------------------------------------------------------------
                              Promo Row Styling
------------------------------------------------------------------------------*/
.promo {
  span {
    display: inline-block;
  }
}

/*------------------------------------------------------------------------------
                              Bike-Photos Row Styling
------------------------------------------------------------------------------*/
#bikeCarousel {
}

.bike-slider {
  display: block;

  @media ( min-width: $screen-sm-min) {
      display: none;
    }
}
.slider-holder {
  height: 14rem;
}
.slider-clip {
  position: relative;
  overflow: hidden;
}
.bike-photos {
  display: none;

  @media ( min-width: $screen-sm-min) {
      display: block;
    }
}

.bike-holder {
  height: 14rem;
  overflow: hidden;
}
.carousel-caption {
  color: $black;
  top: 0;
  bottom: none;
  pointer-events: none;

  h2 {
    background: $font-color;
    padding: .5rem;
    font-size: 1rem;
  }
}
.photo-credit {
  padding: .5rem;
  & a, & span {
    font-size: .75rem;
  }
}
/*------------------------------------------------------------------------------
                              Contact-Info Row Styling
------------------------------------------------------------------------------*/
#map {
  height: 400px;
  color: #333;
  text-shadow: none;
}
.map-info {
  max-width: 250px;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {

  }
}
/*------------------------------------------------------------------------------
                              Copyright Row Styling
------------------------------------------------------------------------------*/

.copyright {
  margin-bottom: 1.5rem;
}
